<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="css/tailwind.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="flex">
    <header class="p-2 bg-indigo-700 inline-block h-screen">
        <div class="p-4">
            <h1 class="text-center text-2xl text-indigo-200 font-bold">E/S</h1>
        </div>
        <nav>
            <ul class="text-indigo-400 text-sm space-y-2">
                <li class="px-6 py-4 flex flex-col items-center rounded-md hover:bg-indigo-500 cursor-pointer hover:text-white transition duration-500">
                    <svg class="w-5 h-5 stroke-current"><use href="icon/home.svg#home"></use></svg>
                    <span class="mt-2">Home</span>
                </li>
                <li class="px-6 py-4 flex flex-col items-center rounded-md hover:bg-indigo-500 cursor-pointer hover:text-white transition duration-500">
                    <svg class="w-5 h-5 stroke-current"><use href="icon/files.svg#files"></use></svg>
                    <span class="mt-2">All Files</span>
                </li>
                <li class="px-6 py-4 flex flex-col items-center rounded-md hover:bg-indigo-500 cursor-pointer hover:text-white transition duration-500 bg-indigo-800 text-white">
                    <svg class="w-5 h-5 stroke-current"><use href="icon/image.svg#image"></use></svg>
                    <span class="mt-2">Photos</span>
                </li>
                <li class="px-6 py-4 flex flex-col items-center rounded-md hover:bg-indigo-500 cursor-pointer hover:text-white transition duration-500">
                    <svg class="w-5 h-5 stroke-current"><use href="icon/people.svg#people"></use></svg>
                    <span class="mt-2">Shared</span>
                </li>
                <li class="px-6 py-4 flex flex-col items-center rounded-md hover:bg-indigo-500 cursor-pointer hover:text-white transition duration-500">
                    <svg class="w-5 h-5 stroke-current"><use href="icon/collection.svg#collection"></use></svg>
                    <span class="mt-2">Albums</span>
                </li>
                <li class="px-6 py-4 flex flex-col items-center rounded-md hover:bg-indigo-500 cursor-pointer hover:text-white transition duration-500">
                    <svg class="w-5 h-5 stroke-current"><use href="icon/setting.svg#setting"></use></svg>
                    <span class="mt-2">Settings</span>
                </li>
            </ul>
        </nav>
    </header>
    <main class="flex-1 bg-gray-100 h-screen flex flex-col" id="app">
        <header class="relative z-10 flex justify-between px-8 py-3 bg-gray-50 shadow">
            <div class="flex items-center flex-1">
                <svg class="w-5 h-5 text-gray-500"><use href="icon/search.svg#search"></use></svg>
                <input type="text" placeholder="Search all files" class="bg-transparent flex-1 px-4 outline-none">
            </div>
            <div class="flex items-center space-x-5">
                <img v-if="infoUser.photo" class="w-10 h-10 object-cover rounded-full" src="img/perfil.jpg" alt="me">
                <span v-else class="w-10 h-10 bg-gray-200 rounded-full">
                    <p class="text-center mt-1">
                        <span class="inline-block w-2 h-3 bg-gray-400 rounded-full"></span>
                        <span class="inline-block w-2 h-3 bg-gray-400 rounded-full"></span>
                    </p>
                </span>
                <button class="w-12 h-12 bg-white rounded-full focus:outline-none">
                    <svg class="w-full h-full stroke-current text-indigo-700"><use href="icon/add-circle.svg#add-circle"></use></svg>
                </button>
            </div>
        </header>
        <section class="flex-1 flex overflow-hidden">
            <div class="flex-1 px-8 flex flex-col">
                <h2 class="text-gray-800 text-2xl py-4 font-bold">Photos</h2>
                <nav class="flex items-center justify-between border-b-2">
                    <ul class="flex items-center space-x-8 text-sm text-gray-500 font-medium">
                        <li class="transition duration-500 py-4 border-b-2 cursor-pointer hover:border-indigo-500 border-indigo-500 text-indigo-500 ">
                            Recently Viewed
                        </li>
                        <li class="transition duration-500 py-4 border-b-2 cursor-pointer hover:border-indigo-500 border-transparent">
                            Recently Added
                        </li>
                        <li class="transition duration-500 py-4 border-b-2 cursor-pointer hover:border-indigo-500 border-transparent">
                            Favorited
                        </li>
                    </ul>
                    <div class="flex bg-gray-200 p-1 rounded space-x-1">
                        <button class="transition duration-500 hover:bg-gray-200 hover:shadow rounded-md w-8 h-8 p-1 text-gray-400 focus:outline-none">
                            <svg class="w-full h-full fill-current"><use href="icon/list.svg#list"></use></svg>
                        </button>
                        <button class="transition duration-500 hover:bg-gray-200 hover:shadow rounded-md w-8 h-8 p-1 bg-white text-gray-400 focus:outline-none">
                            <svg class="w-full h-full fill-current"><use href="icon/grid.svg#grid"></use></svg>
                        </button>
                    </div>
                </nav>
                <section class="flex-1 overflow-y-scroll scroll py-8 px-1">
                    <div class="grid grid-cols-4 gap-8 transition-all duration-500" :class="{ 'grid-cols-4' : showDescription , 'grid-cols-5' : !showDescription }">
                        <div v-for="photo of photos" class="space-y-2" @click="selectedImage(photo)">
                            <img class="cursor-pointer rounded-xl object-cover w-full h-32 ring-2 ring-indigo-500 ring-offset-2" :src="photo.image" :alt="photo.name">
                            <p class="text-sm font-medium uppercase">{{ photo.name }}</p>
                            <span class="text-gray-700 text-xs">{{ photo.size }}</span>
                        </div>                        
                    </div>
                </section>
            </div>
            <div class="bg-gray-50 h-full shadow scroll relative transition-all duration-500" :class="{ 'w-96 overflow-y-scroll p-8 opacity-100' : showDescription , 'w-0 overflow-hidden opacity-0' : !showDescription }">
                <div class="fixed -ml-12 top-0 bottom-0 flex items-center" :class="{ 'block' : showDescription, 'hidden' : !showDescription}">
                    <button class="focus:outline-none w-10 h-10 p-2 text-white bg-indigo-600 shadow-xl rounded-full" @click="showDescription=!showDescription">
                        <svg class="w-full h-full fill-current"><use href="icon/next.svg#next"></use></svg>
                    </button>
                </div>
                <div class="space-y-2">
                    <img class="rounded-xl object-cover w-full h-64" :src="inforPhoto.image" alt="">
                    <div class="flex items-center justify-between pb-4">
                        <div>
                            <p class="text-base font-medium">{{ inforPhoto.name }}</p>
                            <span class="text-gray-700 text-sm">{{ inforPhoto.size }}</span>
                        </div>
                        <button class="w-6 h-6 text-gray-400 focus:outline-none">
                            <svg class="w-full h-full fill-current"><use href="icon/heart.svg#heart"></use></svg>
                        </button>
                    </div>
                    <table class="w-full">
                        <thead>
                            <tr>
                                <th colspan="2" class="text-lg font-medium text-gray-800 py-3 border-b border-gray-300 text-left">Information</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-sm border-b border-gray-300">
                                <td class="font-medium text-gray-500 py-3">Uploaded By</td>
                                <td class="font-medium text-gray-800 py-3 text-right">Smith AS</td>
                            </tr>
                            <tr class="text-sm border-b border-gray-300">
                                <td class="font-medium text-gray-500 py-3">Created</td>
                                <td class="font-medium text-gray-800 py-3 text-right">May. 8, 2021</td>
                            </tr>
                            <tr class="text-sm border-b border-gray-300">
                                <td class="font-medium text-gray-500 py-3">Last modified</td>
                                <td class="font-medium text-gray-800 py-3 text-right">May. 8, 2021</td>
                            </tr>
                            <tr class="text-sm border-b border-gray-300">
                                <td class="font-medium text-gray-500 py-3">Dimensions</td>
                                <td class="font-medium text-gray-800 py-3 text-right">4000 x 3500</td>
                            </tr>
                            <tr class="text-sm border-b border-gray-300">
                                <td class="font-medium text-gray-500 py-3">Resolution</td>
                                <td class="font-medium text-gray-800 py-3 text-right">72 x 72</td>
                            </tr>   
                        </tbody>
                    </table>
                    <div class="py-4">
                        <h3 class="text-lg font-medium text-gray-800">Description</h3>
                        <div class="flex items-center text-gray-500">
                            <input type="text" name="" id="" placeholder="Add a description to this image" class="transition duration-500 border-b border-transparent focus:border-gray-300 bg-transparent flex-1 py-3 text-sm outline-none italic">
                            <svg class="w-5 h-5 fill-current"><use href="icon/edit.svg#edit"></use></svg>
                        </div>
                    </div>
                    <table class="w-full">
                        <thead>
                            <tr>
                                <th colspan="2" class="text-lg font-medium text-gray-800 py-3 border-b border-gray-300 text-left">Shared with</th>
                            </tr>
                        </thead>
                        <tbody class="w-full">
                            <tr class="text-sm border-b border-gray-300 hover:bg-gray-100 transition duration-500">
                                <td class="font-medium text-gray-500 py-3 flex items-center">
                                    <span class="w-10 h-10 bg-gray-200 rounded-full mr-4">
                                        <p class="text-center mt-1">
                                            <span class="inline-block w-2 h-3 bg-gray-400 rounded-full"></span>
                                            <span class="inline-block w-2 h-3 bg-gray-400 rounded-full"></span>
                                        </p>
                                    </span>
                                    <span class="text-base font-medium text-gray-800">Smith AS</span>
                                </td>
                                <td class="py-3 text-right"><button class="font-medium text-indigo-900 focus:outline-none">Remove</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="block w-full text-sm border-b border-gray-300">
                        <div colspan="2" class="font-medium text-gray-500 py-3 flex items-center">
                            <button class="w-10 h-10 rounded-full border-2 border-gray-400 border-dashed flex items-center justify-center mr-4">
                                <svg class="w-5 h-5 fill-current"><use href="icon/more.svg#more"></use></svg>
                            </button>
                            <span class="text-sm font-medium text-indigo-800">Share</span>
                        </div>
                    </div> 
                    <div class="flex space-x-2 pt-4">
                        <button class="focus:outline-none shadow-lg flex-1 py-1.5 bg-indigo-600 text-indigo-100 font-medium rounded-lg">Download</button>
                        <button class="focus:outline-none shadow-lg flex-1 py-1.5 border-2 border-gray-300 text-gray-500 font-medium rounded-lg">Delete</button>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="js/vue.js"></script>
    <script src="js/app.js"></script>
</body>
</html>